.loading {
	position: relative;
	background-image: url('loading.gif');
	background-position: center center;
	background-color: rgba(0, 0, 0, 0.7);
	background-repeat: no-repeat;
	pointer-events: none;
}

.nooverflow {
	overflow-x: hidden;
	overflow-y: hidden;
}

.abs {
	position: absolute;
}

.rel {
	position: relative;
}

.min350 {
	min-height: 350px;
}

.max350 {
	max-height: 350px;
}

.width100 {
	width: calc(100% - 20px);
}

.mar10 {
	margin: 10px;
}

.list-item {
	min-height: 100px;
	max-height: 100px;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	margin: 5px;
}

.hstretch {
	left: 10px;
	right: 10px;
}