<div>
	<nav class='navbar navbar-default'>
        <div class='container-fluid'>
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                <table class='table table-bordered'>
                    <tbody>
                        <tr>
                            <td class='text-center'>Padding Low</td>
                            <td class='text-center'>Padding High</td>
                            <td class='text-center'>Page Size</td>
                            <td class='text-center'>Count Mode</td>
                            <td class='text-center'>Date</td>
                        </tr>
                        <tr class='text-center'>
                            <td>
                                <div class='form-group'>
                                    <input type='number' class='form-control' placeholder='Low' style='width: 100px' ng-model='options.padLow'>
                                </div>
                            </td>
                            <td>
                                <div class='form-group'>
                                    <input type='number' class='form-control' placeholder='High' style='width: 100px' ng-model='options.padHigh'>
                                </div>                                
                            </td>
                            <td>
                                <div class='form-group'>
                                    <input type='number' class='form-control' placeholder='Page Size' style='width: 100px' ng-model='options.pageSize'>
                                </div>
                            </td>
                            <td>
                                <select class='form-control' ng-model='options.countMode'>
                                    <option>none</option>
                                    <option>adapter</option>
                                    <option>fixed</option>
                                    <option>detect</option>
                                </select>
                            </td>
                            <td>
                                <div class='form-group'>
                                    <input type='date' class='form-control' placeholder='Date' style='width: 100px' ng-model='date'>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center'>Resize Mode</td>
                            <td class='text-center'>Max pages</td>
                            <td class='text-center'>Parallel</td>
                            <td class='text-center'>Batching</td>
                            <td>Latency</td>
                        </tr>
                        <tr>
                            <td>
                                <select class='form-control' ng-model='options.resizeMode'>
                                    <option>clear</option>
                                    <option>maintain</option>
                                </select>
                            </td>
                            <td>
                                <div class='form-group'>
                                    <input type='number' class='form-control' placeholder='Max' style='width: 100px' ng-model='options.maxPages'>
                                </div>
                            </td>
                            <td>
                                <div class='form-group'>
                                    <input type='number' class='form-control' placeholder='Parallel' style='width: 100px'  ng-model='options.parallel'>
                                </div>
                            </td>
                            <td>
                                <div class='form-group'>
                                    <input type="checkbox" ng-model='options.batching' />
                                </div>
                            </td>
                            <td>
                                <div class='form-group'>
                                    <input type='number' class='form-control' placeholder='Latency' style='width: 100px'  ng-model='latency'>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class='page-header'>
        <h1>Infinite scroll <small>A sample showing how the pager can be used to efficiently display an infinite scroller</small></h1>
    </div>
    <inf-list data='pages'></inf-list>
</div>